
  @use '../abstracts/variables' as v;

footer {
  background-color: #f5f5f5;
  padding: 40px 64px;
  border-top: 2px solid v.$color-principal;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px;
  font-size: 0.9rem;

  ul {
    list-style: none;
  }

  a {
    color: v.$color-texto;
    text-decoration: none;

    &:hover {
      color: v.$color-principal;
    }
  }

  span {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 16px;
    color: #999;
  }
}
